<div class="col-md-12" id="aboutPage">
	<div class="col-md-12">
		<div class="row" id="aboutText">
			<h1>About Us</h1>
			<br />
			<p>The Augury tool is a project of <a href="htpp://www.labinthewild.org">LabintheWild</a>. LabintheWild is a research platform where participants get feedback about themselves as they complete research studies. Our team is led by Professor <a href="https://homes.cs.washington.edu/~reinecke/">Katharina Reinecke</a> at the University of Washington and Professor <a href="http://www.eecs.harvard.edu/~kgajos/">Krzysztof Gajos</a> at Harvard University.<p> 
			<p>Augury's data are based a two-year research project with over 40,000 participants. Click <a href="http://www.labinthewild.org/studies/aesthetics">here</a> to participate in the original study.</p>
		</div>
	</div>
</div>