<!-- A template for displaying a sidebar in conjunction with a primary data view -->

<div ng-controller="dataSidebarCtrl">
	<div class="data-sidebar-header">
		<p class="warning-msg" ng-if="isCropped">Warning: Augury performed analysis on a cropped version of your image, because it exceeded a size of 1024 x 768 pixels. Results may not be reliable.</p>
	</div>
	<img id="uploadedImg" src="{{uploadedImg}}" />
	<div class="metrics-group">
		<div class="metric">
			<p class="metric-caption">Your image's colorfulness:</p>
			<div class="metric-bar-group">
				<p class="metric-left-label"><em>Low</em></p>
				<div class="progress progress-striped metric-bar">
		    		<div class="colorfulness-bar progress-bar progress-bar-success" style="width: {{colorfulnessScore | formatScore}}"></div>
				</div>
		    	<p class="metric-right-label"><em>High</em></p>
			</div>
		</div>
		<div class="metric">
			<p class="metric-caption">Your image's complexity:</p>
			<div class="metric-bar-group">
				<p class="metric-left-label"><em>Low</em></p>
				<div class="progress progress-striped metric-bar">
				    <div class="complexity-bar progress-bar progress-bar-success" style="width: {{complexityScore | formatScore}}"></div>
				</div>
				<p class="metric-right-label"><em>High</em></p>
			</div>
		</div>
	</div>
	<h4 class="sidebar-text sidebar-upload-header">ANALYZE ANOTHER WEBSITE!</h4>
	<div class="btn btn-primary input-wrapper">
		upload a screenshot
		<input type="file" nv-file-select uploader="uploader" />
	</div>
	<h4>~OR~</h4>
	<form>
		<input type="text" class="form-control remote-url-input" placeholder="type a url" ng-model="remoteUrl" />
		<span class="btn btn-primary submit-url-btn" ng-click="submitRemoteUrl();">submit</span>
	</form>
	<span class="error-msg">Whoops! Looks like there was a problem processing your request. Please try again.</span>
</div>