<!-- A template for managing a sidebar and a configurable primary data view (map, list, etc.) -->

<div class="col-md-3 data-sidebar-container" ng-include="'views/dataSidebar.html'"></div>
<div class="col-md-9 pull-right data-container" ng-include="currentDataView"></div>
