<!--  modal feedback dialog  -->

<div id="feedbackContent" modal="showFeedbackModal" close="cancel()">
  <div class="modal-header">
      <h4>Augury is still in development, so we'd love to know what you think!</h4>
  </div>
  <div class="modal-body">
      <p>What can we improve?</p>
      <textarea rows="4" cols="50" id="improvement_comments"></textarea>
      <p>Any other comments?</p>
      <textarea rows="4" cols="50" id="other_comments"></textarea>
  </div>
  <div class="modal-footer">
    <button class="modal-btn btn btn-success" ng-click="ok()">Submit</button>
    <button class="modal-btn btn" ng-click="cancel()">Cancel</button>
  </div>
</div>
