<div class="col-md-12 landing-page" ng-controller="landingPageCtrl">
	<div class="col-md-8">
		<div class="row" id="welcomeText">
			<h1>Welcome to Augury!</h1>
			<h3>Aesthetics are subjective.</h3>
			<h3>Augury tells you who likes what.</h3>
		</div>
		<div class="row home-upload">
			<h4>Try out our beta version:</h4>			
			<div class="btn btn-primary input-wrapper">
				upload a screenshot
				<input type="file" nv-file-select uploader="homeUploader" />
			</div>
			<h4>~OR~</h4>
			<form>
				<input type="text" class="form-control remote-url-input" placeholder="type a url" ng-model="remoteUrl" />
				<span class="btn btn-primary submit-url-btn" ng-click="submitRemoteUrl();">submit</span>
			</form>
			<span class="error-msg">Whoops! Looks like there was a problem processing your request. Please try again.</span>
		</div>
	</div>
	<div class="col-md-4" id="homeExplanation">
		<div class="row">
			<h4>What can Augury tell me?</h4>
			<br />
		</div>
		<p>Some websites are simple...</p>
		<img src="img/samplePlain.png" class="sampleImg" />
		<p>...and some websites are complex</p>
		<img src="img/sampleComplex.png" class="sampleImg" />
		<p>Augury analyzes your screenshots and tells you where in the world people will like them!</p>
	</div>
	<div class="row col-md-12" id="copyright">
		<p>Copyright &copy; 2016 LabintheWild</p>
	</div>
</div>