<div class="col-md-12" id="howItWorksPage" ng-controller="howItWorksCtrl">
	<div class="container">
		<div class="row" id="howItWorksSlider">
			<ul class="bxslider">
			  <li>
			  	<div class="col-md-8">
				  	<h1>Augury</h1>
					<h4>(n) a sign of what will happen in the future; an omen</h4>
					<br />
					<p>How does the Augury tool work?</p>
					<p>Augury analyzes your website screenshots and determines how <strong>colorful</strong> and <strong>complex</strong> they are. It compares this analysis against our database of aesthetic preferences, giving you an idea of where in the world people will find your screenshot aesthetically appealing.</p>
					<p>Click on the arrow to the right to learn more about how Augury works!</p>
				</div>
				<div class="col-md-4 pull-right">
					<img id="howItWorksIcon" src="img/augury_icon3_static.svg" />
				</div>
			  </li>
			  <li>
			  	<div class="col-md-8">
				  	<h1>Image Complexity</h1>
					<br />
					<p>Augury uses two methods to analyze image complexity.</p>
					<p>Augury performs a <em>quadtree decomposition</em>, splitting your image recursively into quadrants. If Augury determines that the pixels in a given quadrant are dissimilar, it will further divide this region into quadrants, and so on.</p>
					<p>Augury also performs a decomposition on the number of text and image regions in your image. Combined with the number of quadtree decompositions, these metrics provide a quantitative estimate of your image's visual complexity.</p>
				</div>
				<div class="col-md-3" id="complexitySamples">
					<img src="img/quadtreeSample.png" />
					<p><em>An example of quadtree decomposition.</em></p>
					<br />
					<img src="img/decompositionSample.png" />
					<p><em>An example of text and image region decomposition.</em></p>
				</div>
				<div class="col-md-1 pull-right"></div>	  	   
			  </li>
			  <li>
			  	<div class="col-md-8">
				  	<h1>Image Colorfulness</h1>
					<br />
					<p>To quantify your image's colorfulness, Augury calculates the number of different standard colors present in your image.</p>
					<p>Augury also examines the <em>saturation</em> of the colors in your image. Previous research suggests that perception of colorfulness correlates with image color saturation, so we combine this metric with a count of the total colors used to measure overall colorfulness.</p>
				</div>
				<div class="col-md-3" id="colorSamples">
					<h4>(An example of a saturated and unsaturated color swatch)</h4>
					<br />
					<img src="" />
				</div>
				<div class="col-md-1 pull-right"></div>
			  	
			  </li>
			  <li>
			  	<div class="col-md-8">
				  	<h1>Aesthetic Preferences</h1>
					<br />
					<p>Augury has a database of colorfulness and complexity preferences built into it.</p>
					<p>We created this database by conducting several large-scale research studies on our online research platform, <a href="http://www.labinthewild.org">LabintheWild</a>. More than 40,000 participants from all over the world rated website screenshots of varying colorfulness and complexity levels. Clear differences in preference among people from different countries emerged.</p>
				</div>
				<div class="col-md-4" id="experimentSamples">
					<img src="img/aestheticsLikert.png" />
					<p><em>Over 40,000 participants rated the appeal of a range of website screenshots.</em></p>
				</div>
			  
			  </li>
			  <li>
			  	<div class="col-md-8">
				  	<h1>Aesthetic Comparisons</h1>
					<br />
					<p>Augury uses the complexity and colorfulness metrics it calculates and compares them against our database of aesthetic preferences around the world.</p>
					<p>After you submit an image to Augury, you can explore how its metrics compare to the <em>peak appeal preferences</em> of people from around the world!</p>
				</div>
				<div class="col-md-4" id="comparisonSamples">
					<img src="img/map.png"  />
				</div>
			  
			  </li>
			</ul>
			
			<!--
						<div class="col-md-8">
							<h1>Augury</h1>
							<h4>(n) a sign of what will happen in the future; an omen</h4>
							<br />
							<p>How does the Augury tool work? Augury analyzes your website screenshots and determines how colorful and complex they are.</p>
						</div>
					</div>
					<div class="item">
						<h1>Second page</h1>
					</div>
				</div>
				
				<a class="left carousel-control" href="#howItWorks" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#howItWorks" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			  </a>
			</div> -->
		</div>
	</div>
</div>