<div class="col-md-12" id="loginPage" ng-controller="loginCtrl">
	<div class="col-md-12">
		<div class="row" id="aboutText">
			<h1>Log in</h1>
			<br />
			<p>Username</p>
			<p>Password</p>
		</div>
	</div>
</div>