<!-- A template for displaying an interactive map of peak appeal scores -->

<div ng-controller="mapCtrl">
	<div class="data-container-header">
		<div class="country-info">
			<h4>Click on a country to learn more about its preferences!</h4>
		</div>
	</div>
	<div class="data-container-body">
		<augury-map></augury-map>
	
		<div class="data-popup caret-upper-left">
			<div class="col-sm-12 popup-header">
				<h4 class="popup-content row country-name">{{countryName}}</h4>
				<p class="popup-content row popup-msg" ng-bind-html="popupMsg"></p>
			</div>
			<div class="row stat-row">
				<div class="popup-content-dark stat-caption col-sm-6">Your image's colorfulness:</div>
				<div class="metric-bar-group col-sm-6">
					<p class="metric-left-label"><em>Low</em></p>
					<div class="progress progress-striped metric-bar">
					    <div class="progress-bar progress-bar-success popup-color-score" style="width: {{colorfulnessScore | formatScore}}"></div>
					</div>
					<p class="metric-right-label"><em>High</em></p>
				</div>
			</div>
			<div class="row stat-row">
				<div class="popup-content-dark stat-caption col-sm-6">Colorfulness preference:</div>
				<div class="metric-bar-group col-sm-6">
					<p class="metric-left-label"><em>Low</em></p>
					<div class="progress progress-striped metric-bar">
					    <div class="progress-bar progress-bar-warning popup-color-score" style="width: {{colorfulnessPref | formatScore}}"></div>
					</div>
					<p class="metric-right-label"><em>High</em></p>
				</div>
			</div>
			<br />
			<div class="row stat-row">
				<div class="popup-content-dark stat-caption col-sm-6">Your image's complexity:</div>
				<div class="metric-bar-group col-sm-6">
					<p class="metric-left-label"><em>Low</em></p>
					<div class="progress progress-striped metric-bar">
					    <div class="progress-bar progress-bar-success popup-color-score" style="width: {{complexityScore | formatScore}}"></div>
					</div>
					<p class="metric-right-label"><em>High</em></p>
				</div>
			</div>
			<div class="row stat-row">
				<div class="popup-content-dark stat-caption col-sm-6">Complexity preference:</div>
				<div class="metric-bar-group col-sm-6">
					<p class="metric-left-label"><em>Low</em></p>
					<div class="progress progress-striped metric-bar">
					    <div class="progress-bar progress-bar-warning popup-color-score" style="width: {{complexityPref | formatScore}}"></div>
					</div>
					<p class="metric-right-label"><em>High</em></p>
				</div>
			</div>
		</div>
		
		<div class="zoom-container">
			<div class="zoom-button plus-button"></div>
			<svg class="zoom-bar"><line x1="15" y1="10" x2="15" y2="160" />
				<image class="zoom-indicator" xlink:href="img/zoomIndicator.svg" width="15" height="15" x="8" y="150" />
			</svg>
			<div class="zoom-button minus-button"></div>
		</div>
		
	</div>
	<div id="legendContainer">
		<p>Very appealing</p>
		<img src="img/mapLegend.png" id="mapLegend" />
		<p>Not appealing</p>
		<img src="img/mapLegendNoData.png" id="noData" />
		<p>No data</p>
	</div>
</div>
