<!--  data view splash screen -->

<div class="map-splash">
  <div class="modal-header">
    <h3 >Your results are ready!</h3>
    <button class="modal-btn btn btn-success" ng-click="closeDataSplash()">Ok</button>
  </div>
  <div class="modal-body">
	  <div class="col-md-4 modal-left-panel">
	    <h4>What happened behind the scenes?</h4>
	    <p>Our algorithm analyzed your screenshot. It looked for text and image regions, and for regions of similar content.</p>
	    <p>Here's an example of how our algorithm might break down a screenshot:</p>
	    <img src="img/quadtreeSample.png" />
	  </div>
	  <div class="col-md-8 pull-right modal-right-panel">
	    <h4>What can I learn from Augury?</h4>
	    <p>Close this window to explore data about your image! Augury's data are based on a 40,000-participant research study. Although extensive, please note that our data are not perfect.</p>
	    <img src="img/mapPage2.png" />
	  </div>
  </div>
</div>