<!-- A template for displaying an accordion of per-category image metrics -->

<div class="data-container-header" ng-controller="metricsListCtrl">
	<div class="country-info">
		<h4>Expand the categories below to explore detailed image metrics.</h4>
	</div>
</div>
<div class="data-container-body metrics-list" ng-controller="metricsListCtrl">
	<uib-accordion>
	 	<div ng-repeat="group in metrics">
	        <div uib-accordion-group class="panel-default" heading="{{group.categoryName | nameConverter}}" is-open="isOpen">
			    <table class="table table-striped metrics-table">
					<thead>
						<tr>
							<th>Image metric</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="metric in group.items">
							<td>{{metric.name | nameConverter}}</td>
							<td>
								<div class="metric-bar-group" ng-if="metric.type === 'valueRange'">
									<p class="metric-left-label"><em>Low</em></p>
									<div class="progress progress-striped metric-bar">
							    		<div class="progress-bar progress-bar-success" style="width: {{metric.value | formatValueRange:metric.range}}"></div>
									</div>
							    	<p class="metric-right-label"><em>High</em></p>
								</div>
							</td>
							<td class="text-right">{{metric.value | valueConverter:metric.type}}</td>
						</tr>
					</tbody>
				</table>
		    </div>
	 	</div>
	</uib-accordion>			
</div>


