@font-face { font-family: sketch; src: url('../fonts/KGSecondChancesSketch.ttf'); } 

#menu {
	float: right;
	font-family: Optima;
	font-size: 12pt;
	margin-top: 25px;
}

.menuOption {
	color: #66CCFF;
	margin-right: 40px;
	cursor: pointer;
	text-decoration: none !important;
}

.menuOption:hover {
	text-decoration: none;
	color: #FFFFE5;
	text-shadow: 0 0 7px #FFFFE5;
}

.active {
	text-decoration: none;
	color: #FFFF80 !important;
	text-shadow: 0 0 7px #FFFF80 !important;
}

#dataFrame {
	/*box-shadow: 3px 3px 5px #AAAAAA;
	background-image: url(../img/lightpaperfibers.png);*/
	height: 600px;
}

.data-container {
	background-image: url(../img/graph_paper_bg.png);
	background-repeat: no-repeat;
	height: 600px;
}

.data-container-header {
	font-family: Optima;
	height: 100px;
	width: 870px;
}

#data-header-content {
	position: absolute;
	margin-left: 50px;
	margin-top: 30px;
	padding-top: 5px;
	font-family: sketch;
}

.data-sidebar-container {
	font-family: Optima;
	font-size: 20px;
	background-image: url(../img/lightpaperfibers.png);
	box-shadow: 3px 3px 5px #AAAAAA;
	height: 600px;
	background-color: #CCCCCC;
}

.data-sidebar-container .metric:nth-child(2) {
	margin-top: 40px;
}

#uploadedImg {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	border: 1px solid #AAAAAA;
	margin-top: 0;
}

#headerBar {
	height: 75px;
}

#subhead {
	color: #66CCFF;
	margin-left: 15px;
	font-family: sketch;
}

#title {
	font-family: sketch;
	font-size: 30px;
	color: #66CCFF;
	margin-top: 8px;
}

#statTable {
	font-family: Optima;
	font-size: 16px;
}

#statContainer {
	max-height: 400px;
	overflow: auto;
	margin-top: 45px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#statClose {
	width: 14px;
	height: 14px;
	margin-right: 5px;
	cursor: pointer;
}

.hidden {
	display: none;
}

#popup {
	font-family: sketch;
	position: absolute;
	border-radius: 8px;
	padding: 10px;
	background-image: url(../img/tornPaper.png);
	box-shadow: 3px 3px 5px #AAAAAA;
}

.zoom-controls {
	float: right;
}

.plus-button {
	content: url(../img/plusButton.png);
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.plus-button:hover {
	content: url(../img/plusButtonHighlight.png);
}

.minus-button {
	content: url(../img/minusButton.png);
	width: 30px;
	height: 15px;
	cursor: pointer;
}

.minus-button:hover {
	content: url(../img/minusButtonHighlight.png);
}

#headerCountry {
	float: left;
}

.map-svg {
	margin-top: 20px;
	margin-left: 10px;
	cursor: move;
}

.zoom-container {
	position: absolute;
	width: 30px;
	height: 240px;
	left: 60px;
	top: 315px;
}

.zoom-container line {
	stroke: #666666;
	stroke-width: 2;
}

.zoom-bar {
	margin-top: 10px;
	width: 30px;
	height: 170px;
}

#uploadedImgBtn {

}

.sidebar-text {
	text-align: center;
	font-family: sketch;
	font-size: 0.80em;
}

.sidebar-upload-header {
	margin-top: 50px;
}

.uploadedStatsBar {
	width: 80%;
	margin-left: 10%;
}

#uploadedStatBox {
	font-family: Optima;
	font-size: 12pt;
}

#uploadedStatBox p {
	margin-bottom: 2px;
	margin-left: 10%;
}

#welcomeText {
	margin-left: 150px;
	margin-top: 50px;
}

#welcomeText h3 {
	margin-bottom: -15px;
}

.landing-page {
	font-family: sketch;
	height: 600px;
	background-image: url(../img/large_graph_paper_torn.png);
}

.bx-viewport {
	height: 450px;
}

#howItWorksPage {
	font-family: sketch;
	height: 600px;
	background-image: url(../img/large_graph_paper_torn.png);
}

#complexitySamples {
	margin-top: 25px;
}

#complexitySamples img {
	border: 2pt solid #BBBBBB;
}

#howItWorksPage p {
	font-family: Optima;
	font-size: 16pt;
}

#howItWorksIcon {
	margin-top: 50px;
}

#howItWorksSlider {
	margin: 50px;
}

#howItWorksText {
	margin-left: 50px;
	margin-top: 50px;
	width: 600px;
}

#howItWorksText p {
	font-family: Optima;
	font-size: 14pt;
}

#complexitySamples p {
	font-size: 12pt;
}

#comparisonSamples {
	margin-top: 100px;
}

#experimentSamples {
	margin-top: 100px;
}

#experimentSamples p {
	font-size: 12pt;
}

#experimentSamples img {
	border: 1pt solid black;
	
}

.bx-wrapper {
	height: 450px;
}

#aboutPage {
	font-family: sketch;
	height: 600px;
	background-image: url(../img/large_graph_paper_torn.png);
}

#aboutText {
	margin-left: 50px;
	margin-top: 50px;
	width: 600px;
}

#aboutText p {
	font-family: Optima;
	font-size: 14pt;
}

.home-upload {
	font-family: Optima;
	margin-left: 180px;
	margin-top: 50px;
	width: 350px;
}

.remote-url-input {
	display: inline;
	width: 70%;
}

.submit-url-btn {
	float: right;
	width: 25%;
	display: inline;
	height: 34px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.input-wrapper {
	width: 100%;
	position: relative;
}

.input-wrapper + h4 {
	text-align: center;
	font-family: sketch;
}

.input-wrapper input {
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#homeExplanation {
	margin-top: 75px;
}

#homeExplanation p {
	font-family: Optima;
	font-size: 12pt;
	margin-top: 15px;
}

.sampleImg {
	border: 1pt solid #AAAAAA;
	width: 180px;
	height: auto;
}

#copyright {
	text-align: center;
	position: absolute;
	bottom: 0;
	margin-bottom: 15px;
	font-family: Optima;
	font-size: 10pt;
	color: #BBBBBB;
}

#langMenu {
	color: #FFFFFF;
	margin-right: 100px;
	margin-left: 30px;
}

.country-info {
	font-family: Optima;
	width: 80%;
	padding-left: 50px;
	padding-top: 40px;
}

#peakAppeals {
	float: right;
	text-align: right;
}

#sidebarUploader {
	font-family: Optima;
	font-size: 12pt;
}

#homeUploader {
	font-family: Optima;
	font-size: 12pt;
}

.fileUploadBtn {
	cursor: pointer;
}

.country-description {
	font-family: Optima;
}

#inputWrapper {
	font-family: Optima;
}

#homeRemoteUrlForm {
	font-family: Optima;
}

#feedbackContent {
	font-family: sketch;
	margin-top: 10%;
	margin-left: 25%;
	max-width: 800px;
	max-height: 470px;
	background-image: url(../img/lightpaperfibers.png);
	border: 1pt solid black;
	
	/*
	-webkit-box-shadow: 0px 0px 20px #66CCFF;
       -moz-box-shadow: 0px 0px 20px #66CCFF;
            box-shadow: 0px 0px 20px #66CCFF;
    */
	
	-webkit-box-shadow: 7px 7px 21px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 7px 21px -5px rgba(0,0,0,0.75);
	box-shadow: 7px 7px 21px -5px rgba(0,0,0,0.75);
}

#feedbackContent textarea {
	font-family: Optima;
	color: #777777;
	padding: 10px;
}

.modal-body textarea {
	margin-bottom: 10px;
}

.hoverable-lightblue:hover {
	cursor: pointer;
	color: #66CCFF;;
}

.map-splash {
	font-family: sketch;
	min-height: 600px;
}

.map-splash p {
	font-family: Optima;
}

.map-splash .modal-header button {
	float: right;
}

.map-splash .modal-header h3 {
	display: inline;
}

.modal-left-panel img {
	margin-top: 10px;
}

.modal-right-panel img {
	width: 100%;
}

#feedbackButton {
	position: absolute;
	left: 87%;
	bottom: 8%;
	width: 45px;
	height: 45px;
	cursor: pointer;
}

#legendContainer {
	font-family: Optima;
	font-size: 8pt;
	text-align: center;
	position: absolute;
	width: 40px;
	left: 88%;
	top: 25%;
	line-height: 10px;
}

#mapLegend {
	width: 20px;
	height: 100px;
	margin-bottom: 5px;
}

#noData {
	width: 20px;
	height: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.progress-bar {
	opacity: 1;
}

.data-sidebar-header {
	margin-left: 15px;
	font-family: sketch;
	font-size: 15px;
	margin-top: 15px;
}

.data-popup {
	position: absolute;
	display: block;
	width: 450px;
	height: 220px;
	background: black;
	border-radius: 4px;
	display: none;
	background-color: rgba(0,0,0,0.8);
	padding: 10px;
	padding-top: 0px;
	z-index: 1;
}

.caret-upper-left:after, .caret-upper-left:before {
	top: 18%;
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.caret-upper-left:before {
	border-color: transparent;
	border-right-color: rgba(0,0,0,0.8);
	border-width: 15px;
	margin-top: -15px;
}

.caret-lower-left:after, .caret-lower-left:before {
	top: 82%;
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.caret-lower-left:before {
	border-color: transparent;
	border-right-color: rgba(0,0,0,0.8);
	border-width: 15px;
	margin-top: -15px;
}

.caret-lower-right:after, .caret-lower-right:before {
	top: 82%;
	right: -6.6%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.caret-lower-right:before {
	border-color: transparent;
	border-left-color: rgba(0,0,0,0.8);
	border-width: 15px;
	margin-top: -15px;
}

.caret-upper-right:after, .caret-upper-right:before {
	top: 18%;
	right: -6.6%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.caret-upper-right:before {
	border-color: transparent;
	border-left-color: rgba(0,0,0,0.8);
	border-width: 15px;
	margin-top: -15px;
}

.popup-content {
	color: white;
}

.popup-content-dark {
	color: #999999;
}

.popup-stat-box {
	font-size: 9pt;
	line-height: 10px;
}

.metrics-list .panel-group {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 40px;
	max-height: 400px;
	overflow: auto;
}

.metrics-table tr td:first-child {
	width: 230px;
}

.metric-left-label {
	font-size: 0.75em;
	display: inline-block;
}

.metric-right-label {
	font-size: 0.75em;
	display: inline-block;
}

.data-popup .metric-left-label {
	color: #999999;
}

.data-popup .metric-right-label {
	color: #999999;
}

.metric {
	text-align: center;
	margin-top: 10px;
}

.metric-bar {
	display: inline-block;
	height: 10px;
	width: 50%;
	opacity: 1;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: -1px;
	text-align: center;
}

.stat-row {
	margin-bottom: 0;
}

.metric-caption {
	font-size: 0.75em;
	margin-bottom: 0;
}

.metric-bar-group {
	height: 10px;
}

.popup-header {
}

.warning-msg {
	font-family: Optima;
	font-size: 0.9em;
	color: #d17988;
	line-height: 1em;
	font-style: italic;
}

.peak-appeal-link {
	font-family: Optima;
	text-decoration: none;
}

.error-msg {
	display: none;
	color: #FF6666;
	font-size: 14px;
}